* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f6fa;
    color: #333;
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.pricing {
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: strech;
    padding: 20px;
    width: 90%; 
    max-width: 1000px;
}

.card {
    background-color: white;
    flex: 1 1 250px; 
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.pro {
    background-color: #4e7dfc;
    color: white;
    transform: scale(1.05);
}

h2 {
    margin-bottom: 10px;
}

.price { 
    font-size: 2rem;
    margin: 15px 0;
    font-weight: bold;
}

ul {
    list-style: none;
    line-height: 1.8;
    font-size: 0.95
}

.pro ul li::marker {
    color: white;
}